@page "/Mantenedores/CargoPersona"
@layout MainLayout

@using BlazorBootstrap
@using GestionFlotas.business
@using GestionFlotas.dataaccess
@using GestionFlotas.model
@using Microsoft.EntityFrameworkCore;
@using System.Linq.Dynamic.Core;
@using Radzen;

@inject IDbContextFactory<FlotasContext> ContextFactoryGestionFlotas
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IJSRuntime JSRuntime

<div class="h-[calc(100vh-60px)]  relative overflow-y-auto overflow-x-hidden p-4 space-y-4 detached-content">

	<nav class="w-full">
		<ul class="space-y-2 detached-breadcrumb">
			<li class="text-xs dark:text-white/80">Mantenedor</li>
			<li class="text-xl font-semibold text-slate-800 dark:text-slate-100">Cargo persona</li>
		</ul>
	</nav>
	<!-- Start All Card -->

	<div class="card">
		<div style="overflow:auto !important">
			<RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
				<RadzenButton ButtonStyle="Radzen.ButtonStyle.Primary" Icon="add_circle_outline" Text="Nuevo" Style="margin: 10px" Click="@(() => EditarForm(new TbPersonaCargoModel()))" />
			</RadzenStack>
			<br />
			<RadzenDataGrid @ref="grid" LoadData=@LoadData style="display: flex; align-items: center; gap: 0.5rem; width:100%; min-width:700px !important"
							Data="@cargoPersonaGrid"
							AllowFiltering="true" AllowColumnResize="false" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true"
							PageSize="20" AllowPaging="true" PagerHorizontalAlign="Radzen.HorizontalAlign.Center" ShowPagingSummary="true"
							TItem="TbPersonaCargoModel" LogicalFilterOperator="LogicalFilterOperator.Or" ClearFilterText="Limpiar filtros" ApplyFilterText="Aplicar"
							AndOperatorText="Y" AllowGrouping="false" AllColumnsText="Todas las columnas" ContainsText="Contiene" Density="Radzen.Density.Default"
							DoesNotContainText="No contiene" EmptyText="No hay registros..." EndsWithText="Termina con" EnumFilterSelectText="Selecciona..."
							EnumNullFilterText="Sin valor" EqualsText="Igual" FilterText="Filtro" FirstPageAriaLabel="Ir a la primera página" FirstPageTitle="Primera página"
							GreaterThanOrEqualsText="Mayor o igual a" GreaterThanText="Mayor a" IsEmptyText="Está vacio" IsNotEmptyText="No está vacío" IsNotNullText="No es nulo"
							IsNullText="Es nulo" KeyProperty="TbPersonaCargoId" LastPageAriaLabel="Ir a la última página" LastPageTitle="Última página" LessThanOrEqualsText="Menor o igual que"
							LessThanText="Menor que" NextPageAriaLabel="Ir a la siguiente página" NextPageTitle="Siguiente" NotEqualsText="No es igual a" OrOperatorText="o"
							PageAriaLabelFormat="Ir a la página [0]" PagerAlwaysVisible="false" PagerPosition="Radzen.PagerPosition.Bottom" PageSizeText="Registros por página"
							PageTitleFormat="Página [0]" PagingSummaryFormat="Página [0] de [1] ([2] Registros)" PrevPageAriaLabel="Ir a la página anterior"
							PrevPageTitle="Anterior" Responsive="false" StartsWithText="Comienza con" GridLines="Radzen.DataGridGridLines.Horizontal">
				<Columns>
					<RadzenDataGridColumn TItem="TbPersonaCargoModel" Property=" TbPersonaCargoId" Filterable="false" Resizable="false" Title="ID" Visible="false" />
					<RadzenDataGridColumn TItem="TbPersonaCargoModel" Property="Nombre" Title="Nombre" Filterable=false Sortable=false />
					<RadzenDataGridColumn TItem="TbPersonaCargoModel" Property="ActivoString" Title="Activo" Filterable=false Sortable=false TextAlign="TextAlign.Center" />
					<RadzenDataGridColumn TItem="TbPersonaCargoModel" Property="TbPersonaCargoId" Title="Editar" Filterable=false Sortable=false Width="75px">
						<Template Context="data">
							<RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="drive_file_rename_outline" class="m-1" Click=@(() => EditarForm(data)) />
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="TbPersonaCargoModel" Property="TbPersonaCargoId" Title="Eliminar" Filterable=false Sortable=false Width="75px">
						<Template Context="data">
							<RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="delete_sweep" class="m-1" Click=@(() => ShowDeleteDialog(data)) />
						</Template>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>

	<Modal @ref="modal" Title="Cargo persona" UseStaticBackdrop="true" CloseOnEscape="false" IsVerticallyCentered="true" Size="ModalSize.Large">
		<BodyTemplate>
			<RadzenTemplateForm TItem="TbPersonaCargoModel" Data="@CargoPersonaSeleccionado" Submit="OnSubmit">
				<RadzenRow Style="padding: 5px">
					<RadzenColumn Size="12" SizeMD="2">
						<RadzenLabel Component="txtNombre" style="width: 100%; padding-left: 5px" Text="Nombre:"></RadzenLabel>
					</RadzenColumn>
					<RadzenColumn Size="12" SizeMD="10">
						<RadzenTextBox Name="txtNombre" style="width: 100%" Trim="true" AutoCompleteType="Radzen.Blazor.AutoCompleteType.Off" MaxLength="155" Placeholder="Ingrese nombre..." @bind-Value="@CargoPersonaSeleccionado.Nombre"></RadzenTextBox>
						<RadzenRequiredValidator Component="txtNombre" style="display:block;width:200px;" Text="Ingrese nombre" Popup="true"></RadzenRequiredValidator>
					</RadzenColumn>
				</RadzenRow>
				<RadzenRow Style="padding: 5px">
					<RadzenColumn Size="12">
						<RadzenLabel Text="Activo" Component="chkActivo" Style="margin-left: 8px; vertical-align: middle;" />
						<RadzenCheckBox @bind-Value="@CargoPersonaSeleccionado.Activo" Name="chkActivo" />
					</RadzenColumn>
				</RadzenRow>
				<RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
					<RadzenButton @ref="btnGuardar" IsBusy=@busy BusyText="Guardando ..." ButtonStyle="Radzen.ButtonStyle.Info" 
					ButtonType="Radzen.ButtonType.Submit" Icon="save" Text="Guardar" Variant="Radzen.Variant.Flat" Style="margin: 10px" />
				</RadzenStack>
			</RadzenTemplateForm>
		</BodyTemplate>
	</Modal>
</div>

@code {
	private Modal modal = default!;
	TbPersonaCargoModel CargoPersonaSeleccionado = new TbPersonaCargoModel();
	IEnumerable<TbPersonaCargoModel?> cargoPersonaGrid;
	RadzenDataGrid<TbPersonaCargoModel?> grid = null!;
	bool isWaiting = true;
	int count;
	bool busy;
	RadzenButton btnGuardar;

	// List<TbPerfilModel?> perfiles;
	// List<TbPersonaModel?> personas;


	//TbUsuarioBL? ubl;
	//TbUsuarioModel? userAccountModel;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		// // var _sessionState = await authStateProvider.GetAuthenticationStateAsync();
		// // if (_sessionState.User.Identity.IsAuthenticated)
		// // {
		// // 	var _userData = ((ClaimsIdentity)_sessionState.User.Identity).FindFirst("UserData").Value;

		// // 	userAccountModel = JsonConvert.DeserializeObject<TbUsuarioModel>(_userData);
		// // }
		// using (var _db = ContextFactory.CreateDbContext())
		// {
		// 	ubl = new TbUsuarioBL(_db);

		// 	if (!ubl.TengoAccesoAccion(userAccountModel.TbPerfilId, 233))
		// 		Nav.NavigateTo("/sinacceso", true);
		// }
	}

	async Task LoadData(LoadDataArgs args)
	{
		using (var _dbm = ContextFactoryGestionFlotas.CreateDbContext())
		{
			var query = new TbPersonaCargoBL(_dbm).ListarAsQuerable();

			if (!string.IsNullOrEmpty(args.Filter))
			{
				// Filter via the Where method
				query = query.Where(args.Filter);
			}

			if (!string.IsNullOrEmpty(value: args.OrderBy))
			{
				// Sort via the OrderBy method
				query = query.OrderBy(args.OrderBy);
			}

			// Important!!! Make sure the Count property of RadzenDataGrid is set.
			count = query.Count();

			// Perform paging via Skip and Take.
			cargoPersonaGrid = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();
		}
		isWaiting = false;
	}

	async Task EditarForm(TbPersonaCargoModel registro)
	{
		try
		{
			using (var _db = ContextFactoryGestionFlotas.CreateDbContext())
			{
				// ubl = new TbUsuarioBL(_db);
				if (registro.TbPersonaCargoId > 0)
				{
					// 	if (!ubl.TengoAccesoAccion(userAccountModel.TbPerfilId, 16))
					// 		throw new Exception("Usted no tiene acceso para realizar esta operación");

					CargoPersonaSeleccionado = await new TbPersonaCargoBL(_db).Obtener(registro.TbPersonaCargoId);
					await modal.ShowAsync();
				}
				else
				{
					// 	if (!ubl.TengoAccesoAccion(userAccountModel.TbPerfilId, 15))
					// 		throw new Exception("Usted no tiene acceso para realizar esta operación");
					CargoPersonaSeleccionado = registro;
					await modal.ShowAsync();
				}
			}
		}
		catch (Exception ex)
		{
			ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = ex.Message, Duration = 2000 });
		}
	}

	async Task ShowDeleteDialog(TbPersonaCargoModel registro)
	{
		try
		{
			using (var _db = ContextFactoryGestionFlotas.CreateDbContext())
			{
				// ubl = new TbUsuarioBL(_db);
				// if (!ubl.TengoAccesoAccion(userAccountModel.TbPerfilId, 241)) // Privilegio para eliminar
				// 	throw new Exception("Usted no tiene acceso para realizar esta operación");
				// else
				// {

				var result = await DialogService.OpenAsync("Confirmación eliminación de registro", ds =>
	@<RadzenStack Gap="1.5rem">
		<div class="row mb-3">
			<h4>Va a eliminar este registro, ¿Desea continuar?</h4>
		</div>
		<RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
			<RadzenStack Orientation="Radzen.Orientation.Horizontal">
				<RadzenButton Text="Si" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Danger" class="w-50" />
				<RadzenButton Text="No" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" class="w-50" />
			</RadzenStack>
		</RadzenStack>
	</RadzenStack>);
				if (result != null)
				{
					if (result && registro != null)
					{
						try
						{
							using (var _dbModules = ContextFactoryGestionFlotas.CreateDbContext())
							{
								await new TbPersonaCargoBL(_dbModules).Eliminar(registro.TbPersonaCargoId);
							}
							await grid.Reload();
							ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro eliminado exitosamente", Duration = 2000 });
						}
						catch (Exception ex)
						{
							ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = ex.Message, Duration = 2000 });
						}

					}
				}
				// }
			}

		}
		catch (Exception ex)
		{
			ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = ex.Message, Duration = 2000 });
		}
	}

	async void OnSubmit()
	{
		try
		{
			busy = true;
			isWaiting = true;

			using (var _db = ContextFactoryGestionFlotas.CreateDbContext())
			{
				await new TbPersonaCargoBL(_db).Guardar(CargoPersonaSeleccionado);
				await grid.Reload();
			}

			CargoPersonaSeleccionado = null;
			ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Registro guardado exitosamente", Duration = 2000 });
			await OnHideModalClick();
		}
		catch (Exception ex)
		{
			ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = ex.Message, Duration = 2000 });
		}
		finally
		{

			isWaiting = false;
			busy = false;
		}
	}

	void ShowNotification(NotificationMessage message)
	{
		NotificationService.Notify(message);
	}

	private async Task OnHideModalClick()
	{
		await modal.HideAsync();
	}
}
